@using MegaMediaManager.Mvc.Models;
@model MegaMediaManager.Mvc.Models.LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<h2 class="ui header">
    <div class="content">@ViewBag.Title</div>
</h2>
<div class="ui middle aligned center aligned grid">
    <div class="column" style="max-width:475px">
        <div class="ui stacked segment">
            <div class="ui form large">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginsListPartialViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl, CallingAction = ExternalLoginsListPartialViewModel.CallingActionType.Login })
                <div class="ui horizontal divider">
                    OR
                </div>
                @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="fa fa-user icon"></i>
                            @Html.TextBoxFor(model => model.LoginId, new { @name = "LoginId", @placeholder = @Html.DisplayNameFor(model => model.LoginId) })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="fa fa-key icon"></i>
                            @Html.PasswordFor(model => model.PasswordHash, new { @name = "Password", @placeholder = @Html.DisplayNameFor(model => model.PasswordHash) })
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="ui fluid large blue button">Log In</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>